$blue: #3f88c5;
$text-main: #000;
$gray-dark: #7e7e7e;
$gray: #f3f3f3;
$dark: #2d353c;
$light-gray: #e1e1e1;

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: local('Proxima Nova Light'), local('Proxima-Nova-Light'),
    url('fonts/ProximaNova-Light.woff2') format('woff2'),
    url('fonts/ProximaNova-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: local('Proxima Nova Regular'), local('Proxima-Nova-Regular'),
    url('fonts/ProximaNova-Regular.woff2') format('woff2'),
    url('fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova', sans-serif;
  src: local('Proxima Nova Semibold'), local('Proxima-Nova-Semibold'),
    url('fonts/ProximaNova-Semibold.woff2') format('woff2'),
    url('fonts/ProximaNova-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Proxima Nova', sans-serif;
  padding: 0px;
  margin: 0px;
  background-color: #ffffff;
  color: $text-main;
  font-size: 15px;
  font-weight: 300;
  color: $text-main;
  overflow-x: hidden;
  // line-height: 1.4;
  // background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

section {
  background-color: #ffffff;
}

input {
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;

  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;

  &:visited {
    color: $text-main;
  }

  &:hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  height: auto;
}

button {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 1180px) {
    padding: 0;
  }
}

.section-title {
  font-size: 32px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 50px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 32px;
  line-height: 1.4;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  cursor: pointer;
  transition: all 0.1s ease-in;

  &:hover {
    text-decoration: none;
  }

  &.white {
    color: $text-main;
    border-color: $text-main;
    background-color: #fff;
  }

  &.blue {
    color: #fff;
    background-color: $blue;
  }

  &.light-blue {
    color: $blue;
    background-color: #fff;
    border-color: $blue;
  }

  &.gray {
    border-color: #fff;
    outline: 1px solid $gray-dark;

    &.active {
      outline: 2px solid $blue;
      color: $blue;
      font-weight: 600;
      outline-offset: -2px;
    }

    &:hover {
      outline: 2px solid $blue;
      outline-offset: -2px;
      border-color: $blue;
    }
  }
}

section {
  margin-top: 120px;
}

//
.header {
  margin-top: 30px;

  .row1,
  .row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .row2 {
    margin-top: 30px;
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }
  }

  .logo {
    width: 200px;

    @media (min-width: 1024px) {
      width: 100px;
    }
  }

  .description {
    font-size: 16px;
    font-weight: 400;
    display: none;

    @media (min-width: 1024px) {
      display: block;
    }
  }

  .phone_social {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    display: none;

    @media (min-width: 1024px) {
      display: flex;
    }

    .phone {
      font-size: 16px;
      font-weight: 400;
      color: $text-main;

      &:hover {
        text-decoration: underline;
      }
    }

    .social-block {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      a {
        background-size: 22px;
        width: 22px;
        height: 22px;
      }
    }

    .translate {
      a {
        font-size: 16px;
        color: $text-main;

        &:hover {
          text-decoration: none;
        }

        &.active {
          position: relative;

          &::after {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            bottom: 0;
            left: 0;
            background-color: $text-main;
          }
        }
      }
    }
  }

  .header-menu__icon {
    position: relative;
    display: flex;
    width: 36px;
    height: 22px;
    cursor: pointer;
    z-index: 5;

    @media (min-width: 1024px) {
      display: none;
    }

    span {
      transition: 0.3s ease-in;
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -ms-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #848484;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px;
      top: 10px;

      &:first-child {
        top: 0;
      }

      &:last-child {
        top: auto;
        bottom: 0;
      }
    }

    &.active span:first-child {
      transform: rotate(-45deg);
      top: 10px;
    }

    &.active span {
      transform: scale(0);
    }

    &.active span:last-child {
      transform: rotate(45deg);
      bottom: 10px;
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 78%;

    li {
      position: relative;

      .sub-menu {
        display: none;
        opacity: 0;
        flex-direction: column;
        background-color: #f4f4f4;
        padding: 10px 20px;
        z-index: 2;

        .menu-item {
          white-space: nowrap;
          padding: 10px 0;
        }
      }

      &:has(.sub-menu) {
        .menu-item {
          &::after {
            position: absolute;
            content: '';
            background-image: url(../img/arrow.webp);
            background-size: 9px;
            width: 9px;
            height: 9px;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);

            transition: all 0.1s ease-in;
            -webkit-transition: all 0.1s ease-in;
            -moz-transition: all 0.1s ease-in;
            -ms-transition: all 0.1s ease-in;
            -o-transition: all 0.1s ease-in;
          }
        }
      }

      &:hover {
        color: $blue;

        &:has(.sub-menu) {
          position: relative;

          .menu-item {
            &::after {
              transform: translateY(-50%) rotateZ(180deg);
              -webkit-transform: translateY(-50%) rotateZ(180deg);
              -moz-transform: translateY(-50%) rotateZ(180deg);
              -ms-transform: translateY(-50%) rotateZ(180deg);
              -o-transform: translateY(-50%) rotateZ(180deg);
            }
          }

          .sub-menu {
            display: flex;
            position: absolute;
            top: 28px;
            left: 0;
            opacity: 1;
          }
        }
      }
    }

    .menu-item {
      padding: 10px 20px;
      font-weight: 400;
      font-size: 16px;
      color: $text-main;
      transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      -moz-transition: all 0.1s ease-in;
      -ms-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;

      &:hover {
        color: $blue;
        text-decoration: none;
      }
    }
  }

  .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;

    &.active {
      form {
        visibility: visible;
        opacity: 1;
      }
    }

    form {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease-in;
      -webkit-transition: all 0.2s ease-in;
      -moz-transition: all 0.2s ease-in;
      -ms-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;

      input {
        background: #f4f4f4;
        font-size: 14px;
        padding: 15px 30px;
        border: none;
      }
    }

    i {
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  .header-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: absolute;
    height: 100vh;
    top: 0;
    right: -100%;
    width: 100%;
    background-color: $dark;
    z-index: 4;
    transition: all 0.3s cubic-bezier(0.08, 0.49, 1, 1);
    -webkit-transition: all 0.3s cubic-bezier(0.08, 0.49, 1, 1);
    -moz-transition: all 0.3s cubic-bezier(0.08, 0.49, 1, 1);
    -ms-transition: all 0.3s cubic-bezier(0.08, 0.49, 1, 1);
    -o-transition: all 0.3s cubic-bezier(0.08, 0.49, 1, 1);

    @media (min-width: 768px) {
      width: 60%;
    }

    li {
      width: 50%;

      a {
        color: #fff;
        font-size: 20px;
        font-weight: 400;
      }

      i {
        margin-left: 10px;
        color: #fff;
        cursor: pointer;
        padding: 10px;
        transition: all 0.3s ease-in;
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        -ms-transition: all 0.3s ease-in;
        -o-transition: all 0.3s ease-in;
      }

      &:has(.sub-menu) {
        .menu-item {
          position: relative;
          width: 100%;
        }
      }

      &:has(.sub-menu.active) {
        i {
          transform: rotateX(180deg);
          -webkit-transform: rotateX(180deg);
          -moz-transform: rotateX(180deg);
          -ms-transform: rotateX(180deg);
          -o-transform: rotateX(180deg);
        }
      }
    }

    .sub-menu {
      display: none;
      flex-direction: column;
      padding-left: 20px;
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;

      &.active {
        margin-top: 10px;
      }

      .menu-item {
        font-size: 18px;
        padding: 8px 0;
        display: inline-block;
      }
    }

    &.active {
      left: auto;
      right: 0;

      & + .back-block {
        left: 0;
        transition: all 0.6s ease-in-out;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
      }
    }
  }

  .back-block {
    position: absolute;
    height: 100vh;
    top: 0;
    left: 100%;
    background-color: $blue;
    width: 100%;
    z-index: 3;
  }
}

//
.regaly-section {
  margin-top: 30px;
}

.regaly-body {
  .row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    img {
      width: auto;
    }

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      gap: 30px;

      .logo-block {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .main-logo {
          display: none;

          @media (min-width: 1024px) {
            display: block;
          }
        }

        .logos {
          display: flex;
          gap: 10px;
          align-items: center;
        }
      }

      .description {
        font-size: 16px;
        font-weight: 400;
        color: $text-main;
      }
    }

    .right {
      display: none;

      @media (min-width: 1024px) {
        display: block;

        img {
          max-width: 400px;
        }
      }
    }
  }

  .row2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 40px;

    .item {
      flex: 1 0 0;
      display: flex;
      justify-content: space-between;
      gap: 1em;
      padding: 15px 32px;
      background-color: $gray;
      border-radius: 10px;

      @media (min-width: 1024px) {
        flex: 360px;
        max-width: 360px;
      }

      .title {
        flex: 2;
        text-align: left;
        font-size: 16px;
        color: $text-main;
        line-height: auto;
        font-weight: 400;
      }

      .img {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 1;
        position: relative;
        top: -30px;

        &.no-top {
          top: 0;
        }

        img {
          text-align: end;
          width: auto;
        }
      }
    }
  }
}

.direction-section {
  .directions {
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .direction-item {
      display: none;

      @media (min-width: 1024px) {
        display: block;
      }

      > div {
        font-size: 22px;
        padding-left: 27px;
        padding-right: 9%;
        line-height: 1.4;
        font-weight: 300;

        &.active {
          color: $blue;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            background-color: $blue;
            background-size: 13px;
            border-radius: 50px;
            width: 13px;
            height: 13px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover {
          cursor: pointer;
        }
      }
    }

    > div {
      flex: 1;
    }

    .swiper-directions {
      display: none;
      width: 510px;
      position: relative;

      @media (min-width: 1024px) {
        display: block;
      }

      &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 2px;
        left: 0;
        top: 0;
        background-color: $blue;
      }

      .swiper-slide {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 20px;
        font-family: 400;
        line-height: 1.4;
        padding-left: 9%;
        max-height: 208px;

        .buttons {
          display: flex;
          justify-content: right;
          align-items: center;
          gap: 14px;
        }
      }
    }

    .box {
      position: relative;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }

      @media (min-width: 1024px) {
        display: none;
      }

      .label {
        position: relative;
        padding: 20px 46px 20px 20px;
        color: $text-main;
        cursor: pointer;
        // background-color: #3f88c526;
        display: flex;
        justify-content: space-between;

        i {
          transition: all 0.3s ease-in;
          -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -ms-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
        }
      }

      .content {
        font-size: 14px;
        position: relative;
        background-color: #fff;
        overflow: hidden;
        display: none;

        p {
          padding: 20px;
        }

        .buttons {
          margin-top: 16px;
          text-align: end;

          .btn {
            font-size: 14px;
            padding: 8px 26px;
          }
        }
      }

      &.active {
        .label {
          color: $blue;
          position: relative;
          // background-color: #fff;

          &::before {
            content: '';
            position: absolute;
            background-color: $blue;
            background-size: 13px;
            border-radius: 50px;
            width: 13px;
            height: 13px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }

          i {
            transform: rotateX(180deg);
            -webkit-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            -o-transform: rotateX(180deg);
          }
        }
      }
    }
  }

  .swiper-pagination,
  .swiper-scrollbar {
    display: none;
  }
}

.clients-body {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
    column-gap: 30px;
    padding-top: 20px;

    .item {
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: $gray;
      border-radius: 10px;
      padding: 15px;
      // margin-left: 20px;
      gap: 16px;
      max-width: 360px;

      .profile_fio {
        display: flex;

        .img {
          position: absolute;
          top: -20px;
          left: -20px;
          background-size: 100px;
          width: 100px;
          height: 100px;
          border-radius: 70px;

          @media (min-width: 1024px) {
            background-size: 126px;
            width: 126px;
            height: 126px;
          }
        }

        .fio {
          padding-left: 90px;
          font-size: 17px;

          @media (min-width: 1024px) {
            padding-left: 107px;
          }

          .name {
            font-weight: 400;
          }

          .logo-company {
            margin-top: 10px;

            img {
              width: auto;
            }
          }
        }
      }

      .desc {
        text-align: center;
      }
    }
  }

  .logos {
    display: none;

    @media (min-width: 1024px) {
      margin-top: 50px;
      display: grid;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      justify-items: center;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }

    > div {
      flex: 1;
      img {
        width: auto;
      }
    }
  }

  .swiper-logos {
    margin-top: 50px;

    .swiper-slide {
      text-align: center;
      margin-bottom: 20px;
    }

    > div {
      img {
        max-width: 200px;
      }
    }

    @media (min-width: 1024px) {
      display: none;
    }
  }
}

//

.cases-section {
  .cases-filter {
    display: flex;
    flex-wrap: wrap;
    gap: 28px;

    input[type='checkbox'] {
      display: none;
    }
  }

  .cases_cards {
    margin-top: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;

    .card {
      display: grid;
      gap: 40px;
      padding: 34px 20px;
      border-radius: 10px;
      border: 1px solid #000;
      flex: 360px;

      @media (min-width: 790px) {
        flex-grow: 0;
      }

      .logo-service {
        display: flex;
        gap: 18px;

        .logo {
          width: 122px;
        }

        .title {
          font-size: 20px;
        }

        .desc {
          font-size: 17px;
          color: #666666;
        }
      }
    }
  }

  .buttons {
    margin-top: 30px;
    text-align: center;
  }
}

//
.promo-section {
  .promo-block {
    display: flex;
    // align-items: center;
    color: #fff;
    background-color: $blue;
    border-radius: 10px;
    padding: 30px 20px;

    @media (min-width: 1024px) {
      padding: 60px 46px;
    }

    .title {
      font-weight: 400;
      font-size: 32px;

      @media (min-width: 1024px) {
        width: 74%;
        font-size: 40px;
      }
    }

    .content {
      margin-top: 42px;
      font-size: 20px;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1.39;

      @media (min-width: 1024px) {
        width: 52%;
        font-size: 24px;
      }
    }

    .btn {
      margin-top: 68px;
      line-height: 1.39;
      font-size: 16px;
      padding: 12px 32px;

      @media (min-width: 1024px) {
        font-size: 19px;
        padding: 18px 56px;
      }
    }

    .img-block {
      display: none;
      position: relative;

      @media (min-width: 1024px) {
        display: block;
      }

      .img {
        position: absolute;
        bottom: -60px;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 535px;
        width: 535px;
        height: 630px;
      }
    }
  }
}

//
.cases-body {
  .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 480px;
    margin: 0 auto;

    @media (min-width: 1024px) {
      flex-direction: row;
      gap: 30px;
      max-width: none;
    }

    .name {
      font-size: 28px;
      font-weight: 400;
    }

    .rule {
      font-size: 30px;
      font-weight: 600;
      color: $blue;
    }

    img {
      object-fit: cover;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }

    .left {
      flex: 15;
      display: flex;
      align-items: center;
      align-items: flex-start;
      flex-direction: column;

      .img {
        margin: 0 auto;
        img {
          object-fit: cover;
          width: 200px;
          height: 200px;

          @media (min-width: 1024px) {
            width: 365px;
            height: 365px;
          }
        }
      }

      .name {
        margin-top: 25px;
      }

      .description {
        // text-align: center;
        width: 88%;
        margin-top: 8px;
        font-size: 18px;
        font-weight: 400;

        @media (min-width: 1024px) {
          font-size: 20px;
        }
      }
    }

    .right {
      flex: 20;
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (min-width: 1024px) {
        gap: 68px;
      }

      .item {
        @media (min-width: 1024px) {
          display: grid;
          grid-template-columns: 157px auto;
          grid-template-rows: auto 1fr;
          column-gap: 24px;
          row-gap: 10px;
        }
      }

      .img {
        text-align: center;

        @media (min-width: 1024px) {
          grid-area: 1/1/3/2;
        }

        img {
          object-fit: cover;
          width: 156px;
          height: 156px;
        }
      }

      .name {
        display: inline;

        @media (min-width: 1024px) {
          grid-area: 1/2/2/3;
        }

        .rule {
          display: inline;
        }
      }

      .description {
        grid-area: 2/2/3/3;
        font-size: 17px;
        font-weight: 400;
        margin-top: 8px;
      }
    }
  }
}

//
.form-section {
  background-color: $dark;
}
.form-body {
  display: flex;
  color: #fff;
  padding: 65px 0;
  flex-direction: column-reverse;
  gap: 30px;

  @media (min-width: 1024px) {
    flex-direction: row;
  }

  .section-title {
    margin: 0;
  }

  .policy {
    margin-top: 60px;
    font-size: 16px;
    font-weight: 400;

    @media (min-width: 1024px) {
      max-width: 78%;
    }

    input {
      appearance: none;
    }

    label {
      display: block;
      padding-left: 40px;
      position: relative;
      line-height: 1.6;
      cursor: pointer;

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        background-size: 25px;
        background-color: #fff;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }

    input:checked + label {
      &:after {
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        width: 17px;
        height: 17px;
        background-size: 17px;
        background-color: $blue;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
      }
    }
  }

  .left {
    flex: 1;
    display: grid;
    justify-items: start;

    .section-title {
      max-width: 133px;
      text-align: start;
    }

    .phone,
    .email {
      color: #fff;
      font-size: 22px;
      font-weight: 400;
      max-width: 78%;
    }
    .phone {
      margin-top: 24px;

      @media (min-width: 1024px) {
        margin-top: 35px;
      }
    }

    .address {
      font-size: 22px;
      font-weight: 400;
      max-width: 78%;
      margin-top: 20px;

      @media (min-width: 1024px) {
        margin-top: 30px;
      }
    }
  }

  .right {
    flex: 1;
    display: grid;
    grid-auto-rows: auto;
    justify-items: start;
    row-gap: 24px;

    .section-title {
      text-align: start;
    }

    form {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      gap: 16px;
      width: 100%;

      @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 9px;
      }

      input:not([type='submit'], [type='checkbox']) {
        padding: 18px;
        color: $text-main;
        font-size: 18px;
        font-weight: 400;
        border-width: 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        @media (min-width: 1024px) {
          padding: 26px;
        }

        &::placeholder {
          color: #5b5b5b;
        }
      }

      input[type='submit'] {
        border-width: 0;
        width: fit-content;
        padding: 20px 60px;

        @media (min-width: 1024px) {
          margin-top: 23px;
        }
      }

      .policy {
        margin-top: 4px;
      }
    }
  }
}

//
.achievements-section {
  .achievements {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 18px;

    background-color: $blue;
    padding: 55px;
    padding: 35px;
    gap: 24px;
    border-radius: 19px;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    -ms-border-radius: 19px;
    -o-border-radius: 19px;

    @media (min-width: 680px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 19px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  }
}

//
.contribution-section {
  .items {
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (min-width: 1024px) {
      flex-direction: row;
      align-items: flex-end;
      gap: 0;
    }

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      // width: 70%;
      flex: 1;

      .img {
        max-width: 160px;
      }

      .text {
        text-align: center;
        width: 80%;
      }

      &:nth-child(2) {
        .img img {
          height: 140px;
        }
      }
    }
  }
}

// media
.media-section {
  .media {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 30px;

    @media (min-width: 560px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 20px 0;
      border-top: 1px solid #e9e9e9;

      .date_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          width: 50px;
        }

        .date {
          font-size: 12px;
          font-weight: 300;
        }
      }

      .content {
        color: $blue;
        font-size: 18px;
        font-weight: 400;
      }
    }
  }

  .buttons {
    margin-top: 30px;
    text-align: center;
  }
}

// news
.news-section {
  .news {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

    .column {
      max-width: 366px;
    }

    .title {
      font-size: 22px;
      font-weight: 400;
      padding: 15px 0;
      border-bottom: 2px solid $blue;
      margin-bottom: 20px;
    }
  }

  .items {
    display: grid;
    gap: 20px;
  }

  .item {
    display: flex;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    .text {
      flex: 1;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .title-link {
        span {
          font-size: 12px;
          font-weight: 400;
        }
        a {
          color: $blue;
          font-size: 14px;
          font-weight: 400;
        }
      }

      .site-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
      }
    }
  }

  .img {
    position: relative;
    width: 180px;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    .background {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 180px;
      height: 150px;
      filter: blur(20px);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      background-repeat: no-repeat;
      -webkit-filter: blur(20px);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
    }

    img {
      width: 160px;
      height: 90px;
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }

  .buttons {
    margin-top: 30px;
    text-align: center;
  }
}

.footer {
  margin-top: 120px;
  background-color: $dark;

  .footer-body {
    padding: 50px 0;
    color: #fff;

    a {
      color: #fff;
    }
  }

  .row1,
  .row2,
  .row3 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .menu-title {
    font-size: 18px;
    padding: 8px 0;
    display: flex;
    justify-content: space-between;

    @media (min-width: 1024px) {
      margin-bottom: 30px;
    }

    i {
      transition: all 0.3s ease-in;
      -webkit-transition: all 0.3s ease-in;
      -moz-transition: all 0.3s ease-in;
      -ms-transition: all 0.3s ease-in;
      -o-transition: all 0.3s ease-in;

      @media (min-width: 1024px) {
        margin-bottom: 30px;

        display: none;
      }
    }

    &.active {
      i {
        transform: rotateX(180deg);
        -webkit-transform: rotateX(180deg);
        -moz-transform: rotateX(180deg);
        -ms-transform: rotateX(180deg);
        -o-transform: rotateX(180deg);
      }
    }
  }

  div[class^='menu-'] {
    ul {
      display: none;
      padding-left: 20px;

      @media (min-width: 1024px) {
        display: block;
        padding-left: 0;
      }
    }
  }

  .menu-item {
    padding: 4px 0;
    line-height: 1.4;
    display: block;
  }

  .row1 {
    gap: 12px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .logo {
    width: 200px;
  }

  .phone-messangers {
    display: flex;
    gap: 30px;
    align-items: center;

    .phone {
      font-size: 16px;
      font-weight: 400;
      padding: 8px 0;
    }

    .social-block {
      display: flex;
      gap: 20px;

      a i {
        font-size: 30px;

        @media (min-width: 1024px) {
          font-size: 26px;
        }
      }
    }
  }

  .row2 {
    margin-top: 30px;
    display: flex;
    gap: 10px;

    @media (min-width: 1024px) {
      flex-direction: row;
    }

    .menu-4 {
      margin-top: 10px;

      @media (min-width: 1024px) {
        margin-top: 30px;
      }
    }
  }

  .row3 {
    margin-top: 30px;

    display: flex;
    justify-content: start;
    align-items: flex-start;
    gap: 12px;

    @media (min-width: 767px) {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media (min-width: 1024px) {
      margin-top: 50px;
      gap: 80px;
    }

    a {
      font-size: 18px;
      padding: 8px 0;
    }

    .social {
      display: flex;
      gap: 20px;
      align-items: center;
      font-size: 18px;

      a i {
        font-size: 26px;
      }
    }
  }
}
